<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Solana bookmaker</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/matches'"> Matches </a>
      <a mat-button [routerLink]="'/history'"> History </a>

    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
      <span style="font-size: 12px;">Welcome to the online betting place. Please choose a match from the Premier League and make a bet!</span>
    </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>
